<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>PassengerTransportSystem2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>AddUserServlet</display-name>
    <servlet-name>AddUserServlet</servlet-name>
    <servlet-class>controller.AddUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUserServlet</servlet-name>
    <url-pattern>/AddUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCar</display-name>
    <servlet-name>DeleteCar</servlet-name>
    <servlet-class>controller.DeleteCar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCar</servlet-name>
    <url-pattern>/DeleteCar</url-pattern>
  </servlet-mapping>
 
  <servlet>
    <description></description>
    <display-name>AddCar</display-name>
    <servlet-name>AddCar</servlet-name>
    <servlet-class>controller.AddCar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCar</servlet-name>
    <url-pattern>/AddCar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCar</display-name>
    <servlet-name>UpdateCar</servlet-name>
    <servlet-class>controller.UpdateCar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCar</servlet-name>
    <url-pattern>/UpdateCar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddStationServlet</display-name>
    <servlet-name>AddStationServlet</servlet-name>
    <servlet-class>controller.AddStationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStationServlet</servlet-name>
    <url-pattern>/AddStationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddRouteServlet</display-name>
    <servlet-name>AddRouteServlet</servlet-name>
    <servlet-class>controller.AddRouteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddRouteServlet</servlet-name>
    <url-pattern>/AddRouteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteRoute</display-name>
    <servlet-name>DeleteRoute</servlet-name>
    <servlet-class>controller.DeleteRoute</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteRoute</servlet-name>
    <url-pattern>/DeleteRoute</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateRoute</display-name>
    <servlet-name>UpdateRoute</servlet-name>
    <servlet-class>controller.UpdateRoute</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateRoute</servlet-name>
    <url-pattern>/UpdateRoute</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteStation</display-name>
    <servlet-name>DeleteStation</servlet-name>
    <servlet-class>controller.DeleteStation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteStation</servlet-name>
    <url-pattern>/DeleteStation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateStation</display-name>
    <servlet-name>UpdateStation</servlet-name>
    <servlet-class>controller.UpdateStation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateStation</servlet-name>
    <url-pattern>/UpdateStation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteDriver</display-name>
    <servlet-name>DeleteDriver</servlet-name>
    <servlet-class>controller.DeleteDriver</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteDriver</servlet-name>
    <url-pattern>/DeleteDriver</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateDriver</display-name>
    <servlet-name>UpdateDriver</servlet-name>
    <servlet-class>controller.UpdateDriver</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateDriver</servlet-name>
    <url-pattern>/UpdateDriver</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>UserQueryInfo</display-name>
    <servlet-name>UserQueryInfo</servlet-name>
    <servlet-class>controller.UserQueryInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserQueryInfo</servlet-name>
    <url-pattern>/UserQueryInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddOrder</display-name>
    <servlet-name>AddOrder</servlet-name>
    <servlet-class>controller.AddOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddOrder</servlet-name>
    <url-pattern>/AddOrder</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>AddDriver</display-name>
    <servlet-name>AddDriver</servlet-name>
    <servlet-class>controller.AddDriver</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDriver</servlet-name>
    <url-pattern>/AddDriver</url-pattern>
  </servlet-mapping>
</web-app>